books/
temp/
.idea/
.vscode/

# Generated LaTeX files
lectures/_minted/
*.minted
*.aux
*.nav
*.out
*.log
*.snm
*.toc
*.vrb
*.swp
*.tmp
.DS_Store

# Ignore these entire directories
course/
lectures/
ref/
src/linalg/
